name: Branch merge rule check
on:
  workflow_call:
    inputs:
      allowed-branch-from:
        description: The source branch to use
        type: string
        required: false
        default: ''
      allowed-branch-to:
        description: The target branch to use
        type: string

jobs:
  check-branch:
    name: Check branch
    runs-on: ubuntu-24.04
    steps:
      - name: Check branch
        env:
          branch_from: ${{ github.head_ref }}
          branch_to: ${{ github.base_ref }}
          allowed_from: ${{ inputs.allowed-branch-from }}
          allowed_to: ${{ inputs.allowed-branch-to }}
        run: |
          if [[ "${allowed_from}" == "" ]]; then
            if [[ "${branch_to}" != "${allowed_to}" ]]; then
              echo "Error: You can only merge into the '${allowed_to}' branch"
              exit 1
            fi
          else
            if [[ "${branch_from}" != "${allowed_from}" || "${branch_to}" != "${allowed_to}" ]]
            then
              echo "Error: Only '${allowed_from}' can be merged into '${allowed_to}'"
              exit 1
            fi
          fi
          echo 'Branch merge rule check succeeded'
