name: Publish static site
on:
  workflow_call:
    inputs:
      workload-identity-provider:
        description: Full identifier of the GitHub workload identity pool provider in Google Cloud
        type: string
        required: true
      service-account-email:
        description: Email of the Google Cloud service account for publishing the static site files
        type: string
        required: true
      bucket-name:
        description: The bucket name to upload the static site files to
        type: string
        required: true
      url-map-name:
        description: The URL map name to use for CDN cache invalidation
        type: string
        required: true
      http-to-https-url-map-name:
        description: The HTTP to HTTPS redirection URL map name to use for CDN cache invalidation
        type: string
        required: true
      python-version:
        description: The Python version to use
        type: number
        required: false
        default: 3.12
      requirements:
        description: The requirements file to use for generating the static site files
        type: string
        required: false
        default: requirements/dev.txt

concurrency: ${{ github.workflow_ref }}-${{ github.ref || github.run_id }}

jobs:
  publish-site:
    name: Publish static site
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Authenticate to Google Cloud Platform
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ inputs.workload-identity-provider }}
          service_account: ${{ inputs.service-account-email }}

      - name: Install gcloud CLI
        uses: google-github-actions/setup-gcloud@v3

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install requirements
        uses: logikal-io/make-orb@v1
        with:
          requirements: ${{ inputs.requirements }}

      - name: Sync database
        run: orb --command 'manage syncdb --no-input'

      - name: Generate static files
        run: orb --command 'manage generate --no-input'

      - name: Upload files
        shell: bash
        run: gsutil -m rsync -r -d -j html,css,js generated "gs://${{ inputs.bucket-name }}/"

      - name: Invalidate CDN cache
        run: |-
          gcloud compute url-maps invalidate-cdn-cache \
            "${{ inputs.url-map-name }}" --path "/*"
          gcloud compute url-maps invalidate-cdn-cache \
            "${{ inputs.http-to-https-url-map-name }}" --path "/*"
