name: Sync to AWS S3
on:
  workflow_call:
    inputs:
      role:
        description: The ARN of the AWS role used for syncing
        type: string
        required: true
      region:
        description: The AWS region to use
        type: string
        required: true
      bucket-name:
        description: The name of the bucket
        type: string
        required: true
      path:
        description: The path to sync
        type: string
        required: false
        default: .
      reference:
        description: The git branch, tag or SHA to check out
        type: string
        required: false
      fetch-depth:
        description: Number of commits to fetch
        type: string
        required: false
        default: 1
      sync-args:
        description: Additional arguments to use for the synchronization
        type: string
        required: false
        default: --exclude ".git/*" --exclude ".github/*"

concurrency: ${{ github.workflow_ref }}-${{ github.ref || github.run_id }}

jobs:
  sync:
    name: Sync to AWS S3
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          fetch-depth: ${{ inputs.fetch-depth }}
          ref: ${{ inputs.reference }}

      - name: Authenticate to Amazon Web Services
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ inputs.region }}
          role-to-assume: ${{ inputs.role }}

      - name: Sync files
        shell: bash
        run: >-
          aws s3 sync --delete "${{ inputs.path }}" "s3://${{ inputs.bucket-name }}" \
             ${{ inputs.sync-args }}
