name: Sync to GCP Cloud Storage
on:
  workflow_call:
    inputs:
      workload-identity-provider:
        description: Full identifier of the GitHub workload identity pool provider in Google Cloud
        type: string
        required: true
      service-account:
        description: Email of the Google Cloud service account used for syncing
        type: string
        required: true
      bucket:
        description: The name of the target bucket
        type: string
        required: true
      path:
        description: The path to sync
        type: string
        required: false
        default: .
      target-path:
        description: The target path to use
        type: string
        required: false
      reference:
        description: The git branch, tag or SHA to checkout
        type: string
        required: false
      fetch-depth:
        description: Number of commits to fetch
        type: string
        required: false
        default: 1
      sync-args:
        description: Additional arguments to use for the synchronization
        type: string
        required: false
        default: --exclude ".git/*" --exclude ".github/*"

concurrency: ${{ github.workflow }}-sync-${{ github.ref }}

jobs:
  sync:
    name: Sync to GCP Cloud Storage
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch-depth }}
          ref: ${{ inputs.reference }}

      - name: Authenticate to Google Cloud Platform
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ inputs.workload-identity-provider }}
          service_account: ${{ inputs.service-account }}

      - name: Sync files
        shell: bash
        run: >-
          gcloud storage rsync "${{ inputs.path }}" \
            "gs://${{ inputs.bucket }}/${{ inputs.target-path }}" \
            --recursive --delete-unmatched-destination-objects ${{ inputs.sync-args }}
