name: Run Terraform tests
on:
  workflow_call:
    inputs:
      terragrunt-dir:
        description: The directory in which to run Terragrunt
        type: string
        required: false
        default: cloud
      terragrunt-commons-version:
        description: The version of terragrunt-commons to use
        type: string
        required: false
        default: v4
      tfenv-version:
        description: The version of tfenv to use
        type: string
        required: false
        default: c8eb402135bf6fbcd2809f6cdbf7ea1113de6e54  # commit 2025-07-11 / checked 2025-10-31
      tgenv-version:
        description: The version of tgenv to use
        type: string
        required: false
        default: 8f87cb3bd76063d6adef2413ce0a399f773f2319  # commit 2024-06-14 / checked 2025-10-31

    secrets:
      TERRAFORM_CREDENTIALS_HOSTNAME:
        description: The Terraform Cloud/Enterprise hostname to use
        required: false
      TERRAFORM_CREDENTIALS_TOKEN:
        description: The Terraform Cloud/Enterprise API token to use
        required: false

concurrency:
  group: terraform-run-tests-${{ github.workflow_ref }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Install Terraform
        uses: logikal-io/run-logikal-playbook@v2
        with:
          roles: terraform
          vars: '{
            "tfenv_version": "${{ inputs.tfenv-version }}",
            "tgenv_version": "${{ inputs.tgenv-version }}",
            "terragrunt_commons_version": "${{ inputs.terragrunt-commons-version }}",
          }'

      - name: Install Terraform binary
        working-directory: ${{ inputs.terragrunt-dir }}
        run: tfenv install

      - name: Install Terragrunt binary
        working-directory: ${{ inputs.terragrunt-dir }}
        run: tgenv install

      - name: Validate configuration
        working-directory: ${{ inputs.terragrunt-dir }}
        env:
          TG_COMMONS_LOCAL_MODE: true
          CREDENTIALS_HOSTNAME: ${{ secrets.TERRAFORM_CREDENTIALS_HOSTNAME || 'app.terraform.io' }}
          CREDENTIALS_TOKEN: ${{ secrets.TERRAFORM_CREDENTIALS_TOKEN }}
        run: |-
          if [[ -n "${CREDENTIALS_TOKEN}" ]]; then
            hostname="$(echo "${CREDENTIALS_HOSTNAME}" | sed 's/\./_/g' | sed 's/-/__/g')"
            export "TF_TOKEN_${hostname}"="${CREDENTIALS_TOKEN}"
          fi
          terragrunt run --all validate --parallelism 1
